@model IEnumerable<CGB_Habilitation.Models.Role>

@{
    ViewData["Title"] = "Gestion des r么les";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="mb-3">Liste des r么les</h2>

<a asp-action="Create" class="btn btn-primary mb-3">
    + Nouveau r么le
</a>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nom du r么le</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.NomRole</td>
            </tr>
        }
    </tbody>
</table>
