@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>⏳ Compte en attente</h2>
<p>Votre compte est en cours de validation par l’administrateur.</p>
<input type="button" value="Retour à la page de connexion" onclick="window.location.href='@Url.Action("Login", "Auth")'" />