@* @model IEnumerable<HabilitationApp.Controllers.HomeController>

@{
    ViewData[index: "Title"] = "Admin Utilisateur";
}

<h1>Admin Utilisateur</h1>

<table>
    <button mat-button>
    Accès au liste des administrateur 
    <link href="@Url.Action("Liste Admin")">
    </button>
</table>  *@