@model IEnumerable<HabilitationApp.Controllers.HomeController>

@{
    ViewData[index: "Title"] = "Admin Utilisateur";
}

<h1>Admin Utilisateur</h1>

<table>
    <link href="@Url.Action("Index">
</table> 