@{
    Layout = "~/Views/Shared/_LayoutChefAgence.cshtml";
}

<h2>Nouvelle habilitation</h2>

<form method="post">
    <label>Type</label>
    <input name="TypeHabilitation" />

    <label>Motif</label>
    <textarea name="Motif"></textarea>

    <button type="submit">Envoyer</button>
</form>
